<% file_name = person ? person.file_name : "" %>
<% last_name = person ? person.file_name : "" %>
<% role_name = person ? person.file_name : "" %>

<li class="field-wrapper hierarchical input-group input-append">
  <div class="form-group">
    <label class="col-sm-4 control-label">First Name</label>
    <div class="col-sm-8">
      <input aria-labelledby="book_person_<%=index%>_first_name_label" class="string hierarchical_attribute optional multi_value book_person_<%=index%>_first_name form-control text-field" id="book_person_<%=index%>_first_name" name="book[person][][first_name]" type="text" value="<%=person.first_name%>">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Last Name</label>
    <div class="col-sm-8">
      <input aria-labelledby="book_person_0_last_name_label" class="string hierarchical_attribute optional multi_value book_person_0_last_name form-control text-field" name="book[person][][last_name]" type="text" value="Davis">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Role</label>
    <div class="col-sm-8">
      <input aria-labelledby="book_person_0_role_label" class="string hierarchical_attribute optional multi_value book_person_0_role form-control text-field" name="book[person][][role]" type="text" value="Trumpet">
    </div>
  </div>
</li>