<div class="form-group">
    <label class="col-sm-1 control-label">First name</label>
    <div class="col-sm-5 input">
	<%= values[:first_name] %>
    </div>
    <label class="col-sm-1 inline-label">Last name</label>
    <div class="col-sm-5 inline-input">
	<%= values[:last_name] %>
    </div>
</div>
